#calendar
  = calendar_for(days) do |calendar|
    = calendar.head('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun')
    = calendar.day(day_method: :created_at) do |date, days|
      = date.day
      = link_to days.first.try(:content), days.first if days.first.present?

%hr

%table
  - days.each do |day|
    %tr
      %td= day.created_at.to_date
      %td= day.content
      %td= link_to 'Show', day_path(day)
      %td= link_to 'Edit', edit_day_path(day)
      %td= link_to 'Destroy', day, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Day', new_day_path
