#calendar

  %h2#month
    = link_to "<", month: (date.beginning_of_month - 1).strftime("%Y-%m-01")
    = h date.strftime("%B %Y")
    = link_to ">", month: (date.end_of_month + 1).strftime("%Y-%m-01")

  = calendar_for days, year: date.year, month: date.month do |calendar|
    = calendar.head('monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday')
    = calendar.day(day_method: :created_at) do |field, days|
      = day_field(days.first, field)
      %ul
        %li= day_text(days.first)

%hr

%table
  - days.each do |day|
    %tr
      %td= day.created_at.to_date
      %td= day.content
      %td= link_to 'Show', day_path(day)
      %td= link_to 'Edit', edit_day_path(day)
      %td= link_to 'Destroy', day, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Day', new_day_path

